body {
    height: 110vh;
    background-image: url(./../../images/Project\ 17_5.png);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;  
}

.btn_nav {
    width: 10rem;
    height: 3rem;
    background: rgb(0, 194, 195);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    border-radius: 10px;
    position: fixed;
    left: 5%;
    top: 5%;
    transition: 0.25s;
}

.btn_nav:hover {
    background: white;
    color: rgb(0, 194, 195);
    transition: 0.25s;
}

.signup_title {
    position: absolute;
    background: rgba(255, 255, 255, 0.797);
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 1rem;
    padding: 0;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -5%);
}



.signup_container {
    border-radius: 1rem;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1.5 / 1;
    min-height: 35rem;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: saturate(180%) blur(10px);

}

.signup_inputs {
    box-shadow: 1rem 1rem 5rem ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(158,158,158,0.8);
    backdrop-filter: saturate(180%) blur(50px);
    aspect-ratio: 4/3;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.signup_fields {
    margin: 3rem;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    scrollbar-width: none;
    align-items: center;
    padding: 0;
    width: 80%;
}

button{
    width: 80px;
    height: 50px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20vh;

}

span{
    font-size: 12px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}